.browser-shots-gutenberg-wrapper:after {

	content: "";
	display: table;
	clear: both;

}

.browsershots-block-carousel {

	input[type="submit"] {
		font-size: 18px;
		padding-top: 10px;
		padding-bottom: 10px;
		height: auto;
	}
	label {
		font-weight: 700;
	}
	input[type="text"],
	.wp-caption-text {
		width: 100%;
		max-width: 500px;
		background: #FFF;
		padding: 10px;
		box-shadow: 0 0 0 transparent;
		transition: box-shadow .1s linear;
		border-radius: 4px;
		border: 1px solid #8d96a0;
		line-height: 1.1;
	}
	.browser-shots-carousel-remove {
		position: absolute;
		top: 10px;
		right: 10px;
	}
	.browsershots-svg {
		text-align: center;
	}
	.browser-shots-carousel-actions {
		display: flex;
		justify-content: center;
		align-items: center;
		a {
			display: inline-block;
			text-decoration: none;
			border: 1px solid #000;
			border-radius: 100%;
			color: #000;
			padding: 10px;
			margin-right: 10px;
			height: 42px;
			&:hover {
				text-decoration: none;
				color: #000;
			}
			span.dashicons {
				line-height: 1.1 !important;
			}
		}
	}
}

.browser-shots-dimensions {

	align-items: flex-start;
	flex-wrap: wrap;

	.components-base-control {
		width: 48%;
		margin-bottom: 0 !important;
	}

	.components-base-control__field {
		margin-bottom: 0 !important;
	}

}

.browser-shots-dimensions-options {
	margin-bottom: 20px;
}
.browser-shots-carousel-input-row {
	padding: 10px;
	font-size: 13px;
	background: #e5e5e5;
	border: 1px solid #eee;
	margin: 10px 0;
}