/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-browser-shots-carousel  {
  background: $red;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}
.fancybox-content img {
	display: inline-block !important;
	visibility: visible !important;
}